@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Open+Sans:wght@300;700&display=swap');

/* Variables */

$color-light: #f9f7f7;
$color-brighter: #dbe2ef;
$color-bright: #3f72af;
$color-dark: #112d4e;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Open Sans', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $color-brighter;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

a { 
  text-decoration: none;
  color: $color-dark;
  :hover {
    color: $color-bright;
  }
  &.active {
    font-weight: 700;
    color: $color-bright;
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin: 8px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  margin: 0 8px;
}

.sidebar, .posts {
  background: $color-light;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 12px;
}

/* Header */

header {
  display: inline-flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  .logo {
    margin: 0;
    font-family: $font-logo;
    font-weight: 400;
    font-size: 100px;
    line-height: 1;
    text-align: center;
    color: $color-dark;
    margin-left: 32px;
  }
  .hamburger {
    height: 60px;
    width: 60px;
    border: 1px solid $color-dark;
    border-radius: 12px;
    background-color: $color-brighter;
    color: $color-dark;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    &.active {
      color: $color-bright;
      border: 2px solid $color-bright;
    }
    i {
      font-size: 30px;
      color: inherit;
    }
  }
}

/* Mobile Menu */

.mobile-menu {
  display: flex;
  margin: 0 16px;
  flex-direction: column;
  background-color: $color-brighter;
  border: 1px solid $color-dark;
  border-radius: 12px;
  display: none;
  .mobile-tags {
    margin: 8px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-dark;
    border-radius: inherit;
    color: $color-light;
    a {
      color: inherit;
    }
  }
  .mobile-nav-item {
    margin: 8px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-dark;
    border-radius: inherit;
    &.active {
      background-color: $color-bright;
    }
    .section-title {
      color: $color-light;
    }
  }
  .mobile-list {
    margin: 8px;
    border: inherit;
    border-radius: inherit;
    background-color: $color-light;
    display: none;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        margin: 0;
        padding: 8px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $color-brighter;
        &:last-of-type { 
          border-bottom: none;
        }
      }
    }
  }
}

/* Lists */

.list, a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  :hover {
    color: $color-bright;
  }
  &.active {
    font-weight: 700;
    color: $color-bright;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
  a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    :hover {
      color: $color-bright;
    }
    &.active {
      font-weight: 700;
      color: $color-bright;
    }
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  .post-title {
    font-size: 24px;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 600;
    margin: 16px 0;
  }
  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    height: 100px;
    .logo {
      font-size: 60px;
    }
    .hamburger {
      display: flex;
    }
  }
  .sidebar {
    display: none;
  }
}